/*Body*/
#back{
    background-image:url(./image/hexagon-6233333_1920.jpg);
    background-repeat:cover;
    height: 100vh;
}
/*L'accueil*/
    .accueil{
        background-image: url(./image/cyber-3400789_1920.jpg);
        height: 650px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    /*Photo de profil*/
    #photopp{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #photop{
        height: 500px;
        width: auto;
        
    }
    /*Nom prénom*/
    .titre1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Baskerville Old Face;
        color: white;
    }
    h1{
        font-size: 80px;
    }
/*Information*/
.info{
    background-image: url(./image/cyber-3400789_1920.jpg);
    color:#f8f8f8;
}
/*Google maps*/
.GMC{
    background-image: url(./image/cyber-3400789_1920.jpg);
    padding-top: 10px;
}
/*Competence*/
.compet{
    background-image: url(./image/cyber-3400789_1920.jpg);
    margin-top: 25px;
    height: 300px;
    color: white;
    padding: 10px;
}
/*Portfolio*/
.Portfolio{
    background-color: #331608;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 300px;
}
/*ce qui est pas a moi*/
    /*Ajout pour le shèma*/
.titreshm{
    text-align: center;
    color: white;
}
section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
/*Trait milieu*/
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: yellow;
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
/*Taille date mois*/
section#timeline article div.inner span.date span.month {
  font-size: 14px;
}
/*Taile date année*/
section#timeline article div.inner span.date span.year {
  font-size: 13px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px; 
  height: 10px;
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}
section#timeline article:nth-child(6) div.inner h2 {
  background: #555;
}
section#timeline article:nth-child(6) div.inner h2:after {
  background: #555;
}