.btn{
    width: 100px;
    height: 100px;
    margin: 2px;
    background-image: url(./image/mask-1587566_640.png);
    background-size: 100px;
    border: none;
}

img{
    width: 100px;
    height: 100px;
    margin: 2px;
    
}